<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>auction</display-name>
  <!-- 指定Spring配置文件的位置 -->
  <context-param>
		<param-name>contextConfigLocation</param-name> 
		<param-value>/WEB-INF/applicationContext.xml,
			/WEB-INF/daoContext.xml</param-value>
	</context-param>
	
	<!-- 配置Web应用启动时候加载Spring容器 -->
	<listener> 
		<listener-class>org.springframework.web.context.ContextLoaderListener
		</listener-class> 
	</listener>
	
	<!-- spring字符集过滤器     -->
	  <filter>  
	  <filter-name>CharacterEncoding</filter-name>  
	  <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
	  <init-param>  
	  <param-name>encoding</param-name>  
	  <param-value>utf-8</param-value>  
	  </init-param>  
	  <init-param>  
	  <param-name>forceEncoding</param-name>  
	  <param-value>true</param-value>  
	  </init-param>  
	  </filter>  
	
	<!-- 定义ActionContextCleanUp过滤器 -->
	<filter>
		<filter-name>struts-cleanup</filter-name>
		<filter-class>org.apache.struts2.dispatcher.ActionContextCleanUp</filter-class>
	</filter>
	<!-- 定义SiteMesh的核心过滤器 -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	<!-- 定义Struts 2的核心控制器：FilterDispatcher -->
	<filter>
		<!-- 定义核心Filter的名字 -->
		<filter-name>struts2</filter-name>
		<!-- 定义核心Filter的实现类 -->
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>

	<!-- 定义过滤器链 -->
	<!-- 排在第一位的过滤器是：ActionContextCleanUp过滤器 -->
	<filter-mapping>
		<filter-name>struts-cleanup</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 排在第二位的过滤器是：SiteMesh的核心过滤器 -->
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- FilterDispatcher用来初始化Struts 2并且处理所有的HTTP请求 -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 配置图形验证码Servlet -->
	<servlet>
		<servlet-name>img</servlet-name>
		<servlet-class>auction.web.AuthImg</servlet-class>
	</servlet>
	
	<!-- 为图形验证码Servlet指定URL -->
	<servlet-mapping>
		<servlet-name>img</servlet-name>
		<url-pattern>/authImg.jpg</url-pattern>
	</servlet-mapping>
	
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>